<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Unit 2 To-Do</title>
  <a href = "/" class = 'Enter'>Leave List</a><br>
  <a href = "/todos" class = 'Home'>Home</a><br>
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet" class="font">
</head>
<body>
  <h1>Item <%= todoNum %></h1>
  <h3><%= todo.todo %></h3>
  <h3>Complete: <%= todo.done ? 'Yes' : 'No' %></h3>
  <a href="/todos/<%= todoNum - 1 %>/edit">Edit</a>
</body>
</html>